/*******************************************
    VARIABLES COLOR FOR SOUTH ASIA PAGES
 *******************************************/
/*******************************************
    RESETS
 *******************************************/
body {
  margin: 0;
  color: #535562;
  overflow-x: hidden; }

/*.show-grid {
    div {
        background-color: #e3e3e3;
    }
}*/
a {
  color: #fff; }
  a:hover {
    color: #717a41; }

li {
  font-size: 20px; }

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
body {
  font-family: Montserrat, Helvetica, sans-serif;
  color: #535562; }

a:hover {
  text-decoration: none; }

.btn-link {
  background-color: #cfb067;
  padding: 8px 20px;
  font-size: 15px;
  color: #fff; }
  .btn-link:hover {
    background-color: #717a41;
    color: #fff;
    opacity: .8;
    text-decoration: none; }

.text-link {
  padding: 8px 20px;
  font-size: 15px;
  font-family: "Montserrat";
  color: #717a41; }

/*.more-link a {
    background-color: #717a41;
    padding: 8px 20px;
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    &:hover {
        background-color: #717a41;
        color: rgb(255, 255, 255);
        opacity: .8;
        text-decoration: none;
    }
}*/
/*******************************************
    RESPONSIVE NAVIGATION
 *******************************************/
a.search-icon.show-hide-search {
  width: 45px;
  height: 45px;
  text-align: left;
  background-color: #3f3c3a;
  position: relative;
  float: right;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 45px;
  z-index: 100;
  border-right: 1px solid #2c3e50;
  font-size: 24px;
  color: #fff;
  padding-top: 8px;
  padding-left: 10px; }

a.sandwich {
  width: 45px;
  height: 45px;
  text-align: left;
  background-color: #3f3c3a;
  position: relative;
  float: right;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100; }
  a.sandwich:before, a.sandwich:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: ''; }
  a.sandwich:after {
    top: 60%; }

a.show-hide-search {
  display: none; }

#nav {
  position: absolute;
  top: 45px;
  width: 100%;
  display: none;
  background-color: #fff;
  z-index: 100;
  padding-bottom: 30px; }
  #nav ul.first-level {
    display: block;
    margin: 0;
    list-style: none;
    position: relative;
    padding-left: 20px; }
    #nav ul.first-level li:hover a {
      text-decoration: none; }
    #nav ul.first-level li:hover .wrapper {
      display: block;
      height: auto; }
    #nav ul.first-level li:first-child {
      margin-top: 20px; }
    #nav ul.first-level li {
      background-color: #fff;
      font-size: 18px;
      display: inline-block;
      width: 100%;
      float: left;
      padding-right: 10px;
      padding-bottom: 10px; }
      #nav ul.first-level li a {
        color: #cfb067; }
        #nav ul.first-level li a span {
          font-size: 12px;
          padding-left: 4px; }
      #nav ul.first-level li .wrapper {
        padding: 0;
        position: relative;
        width: 100%;
        background-color: #fff;
        display: none;
        padding-bottom: 10px;
        z-index: 95;
        padding-left: 0;
        overflow: hidden; }
        #nav ul.first-level li .wrapper ul.second-level {
          padding-left: 10px; }
          #nav ul.first-level li .wrapper ul.second-level li:first-child {
            margin-top: 10px; }
        #nav ul.first-level li .wrapper .row {
          padding: 0;
          width: 90%;
          margin: 0 auto;
          display: block;
          background-color: #fff; }
          #nav ul.first-level li .wrapper .row div {
            padding-left: 0; }
            #nav ul.first-level li .wrapper .row div .center {
              width: 100%;
              border-right: none; }
              #nav ul.first-level li .wrapper .row div .center .second-level {
                color: #fff;
                margin-bottom: 2px;
                margin-left: 10px;
                padding-left: 10px; }
                #nav ul.first-level li .wrapper .row div .center .second-level li {
                  margin-top: 0; }
              #nav ul.first-level li .wrapper .row div .center .third-level {
                color: #fff;
                padding-left: 0px;
                display: none; }
                #nav ul.first-level li .wrapper .row div .center .third-level li {
                  color: #fff;
                  display: block; }
                #nav ul.first-level li .wrapper .row div .center .third-level li:hover {
                  background: #fff;
                  color: gray; }
          #nav ul.first-level li .wrapper .row div:last-child {
            border-right: none; }

@media (min-width: 640px) {
  a.sandwich {
    display: none; }

  .front #nav ul.first-level li:last-child {
    display: none; }

  #nav {
    display: block !important;
    position: relative;
    margin-left: 0;
    background-color: transparent;
    top: 0; }
    #nav ul.first-level {
      list-style: transparent;
      padding: 10px 15px;
      padding-bottom: 0;
      height: 50px;
      padding-left: 10px; }
      #nav ul.first-level li:first-child {
        margin-top: 0; }
      #nav ul.first-level li:hover a {
        color: #cfb067;
        text-decoration: none; }
      #nav ul.first-level li:hover .wrapper {
        display: block;
        position: absolute;
        top: 25px;
        z-index: 95; }
      #nav ul.first-level li {
        font-size: 20px;
        display: inline;
        padding-right: 10px;
        color: #fff;
        width: auto;
        background-color: transparent;
        position: relative;
        padding-bottom: 10px;
        line-height: .9em; }
        #nav ul.first-level li a {
          color: #fff; }
          #nav ul.first-level li a.active {
            color: #cfb067; }
          #nav ul.first-level li a span {
            font-size: 12px;
            padding-left: 4px; }
        #nav ul.first-level li .wrapper {
          padding: 0;
          width: 260px;
          background-color: #fff;
          display: none;
          padding-bottom: 20px;
          padding-top: 20px; }
          #nav ul.first-level li .wrapper .second-level {
            color: #cfb067;
            font-weight: bold;
            margin-bottom: 2px;
            background-color: #fff;
            margin-left: 5px;
            font-weight: normal;
            padding-left: 10px;
            padding-bottom: 10px;
            margin-bottom: 0; }
            #nav ul.first-level li .wrapper .second-level li {
              clear: both;
              display: block;
              float: left; }
            #nav ul.first-level li .wrapper .second-level a {
              line-height: 24px; }
          #nav ul.first-level li .wrapper .third-level {
            color: #cfb067;
            padding-left: 30px;
            display: block;
            background-color: #fff; }
            #nav ul.first-level li .wrapper .third-level li {
              color: #33383b;
              display: block; }
            #nav ul.first-level li .wrapper .third-level li:hover {
              background: #fff;
              color: gray; }
          #nav ul.first-level li .wrapper div:last-child {
            border-right: none; } }
/*******************************************
    MOBILE NAV 
 *******************************************/
.asia-collection .home .CUL-branding svg,
.asia-collection .interior .CUL-branding svg {
  display: none;
  width: auto;
  height: 100px; }

.asia-collection .search-home {
  top: 200px; }

.home,
.interior {
  position: relative; }
  .home .CUL-branding-mobile,
  .interior .CUL-branding-mobile {
    width: 100%;
    height: 45px;
    background-color: #b31b1b; }
    .home .CUL-branding-mobile img,
    .interior .CUL-branding-mobile img {
      padding-left: 3px;
      padding-top: 3px; }
  .home .CUL-branding svg,
  .interior .CUL-branding svg {
    display: none;
    width: 612px;
    height: auto;
    padding-top: 18px;
    padding-left: 5px; }
  .home h1,
  .interior h1 {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
    opacity: .7; }
    .home h1 a,
    .interior h1 a {
      color: #fff; }
  .home h2,
  .interior h2 {
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    margin-right: 40px; }
    .home h2 a,
    .interior h2 a {
      color: #fff; }

/*******************************************
    SEARCH PORTAL AND COLLECTIONS HOMEPAGES
 *******************************************/
.search-home {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 190px;
  padding-left: 10px; }
  .search-home label {
    font-size: 24px;
    color: #fff;
    padding-top: 35px;
    font-weight: 400;
    line-height: 1.1em;
    padding-bottom: 5px; }
    .search-home label .search-filter-selected {
      opacity: .5; }
  .search-home .filtered-search {
    font-size: 16px;
    color: #535562;
    position: relative; }
    .search-home .filtered-search .search-homepage {
      float: left;
      width: 65%;
      height: 51px;
      background-color: #fff;
      padding-left: 10px;
      vertical-align: text-top;
      -moz-border-radius: 3px 0px 0px 3px;
      -webkit-border-radius: 3px 0px 0px 3px;
      border-radius: 3px 0px 0px 3px;
      border: 1px solid #d6d6d6; }
    .search-home .filtered-search .filter-search {
      position: relative;
      float: left;
      height: 51px;
      background-color: #fff;
      width: 50px;
      -moz-border-radius: 0px 3px 3px 0px;
      -webkit-border-radius: 0px 3px 3px 0px;
      border-radius: 0px 3px 3px 0px;
      border: 1px solid #d6d6d6;
      cursor: pointer; }
      .search-home .filtered-search .filter-search .active {
        display: none; }
      .search-home .filtered-search .filter-search .glyphicon-chevron-down {
        color: #cfb067;
        font-size: 25px;
        line-height: 51px;
        padding-left: 10px; }
      .search-home .filtered-search .filter-search .glyphicon-chevron-up {
        color: #cfb067;
        font-size: 25px;
        line-height: 51px;
        padding-left: 10px; }
    .search-home .filtered-search #filter-search-nav {
      position: absolute;
      display: none;
      background-color: #fff;
      border: 1px solid #fff;
      right: -1px;
      top: 50px;
      width: 190px;
      list-style-type: none !important;
      padding-left: 0; }
      .search-home .filtered-search #filter-search-nav li {
        padding-left: 13px;
        height: 51px;
        line-height: 51px;
        border-bottom: 1px solid #d6d6d6;
        font-size: 16px; }
        .search-home .filtered-search #filter-search-nav li a {
          color: #cfb067; }
    .search-home .filtered-search .submit-search {
      float: left;
      vertical-align: text-top;
      width: 51px;
      height: 51px;
      text-align: center;
      font-size: 40px;
      padding-top: 0;
      background-color: transparent;
      border: none;
      color: #fff;
      padding-left: 15px; }

/*******************************************
    SEARCH INTERIOR PAGES
 *******************************************/
.search-slider {
  display: none;
  height: 250px;
  width: 100%;
  background-color: #295259;
  z-index: 105;
  position: absolute;
  top: 0;
  left: 0; }

.close-search {
  display: none;
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 110; }
  .close-search:hover, .close-search:focus {
    color: #fff; }

.search-interior {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 190px;
  padding-left: 15px;
  z-index: 100; }
  .search-interior label {
    font-size: 27px;
    color: #fff;
    padding-top: 18px;
    font-weight: 400;
    line-height: 1.1em;
    padding-bottom: 10px; }
    .search-interior label .search-filter-selected {
      opacity: .5; }
  .search-interior .filtered-search {
    font-size: 16px;
    color: #2c3235;
    position: relative; }
    .search-interior .filtered-search .search-homepage {
      float: left;
      width: 65%;
      height: 51px;
      background-color: #fff;
      padding-left: 10px;
      vertical-align: text-top;
      -moz-border-radius: 3px 0px 0px 3px;
      -webkit-border-radius: 3px 0px 0px 3px;
      border-radius: 3px 0px 0px 3px;
      border: 1px solid #d6d6d6; }
    .search-interior .filtered-search .filter-search {
      position: relative;
      float: left;
      height: 51px;
      background-color: #fff;
      width: 50px;
      -moz-border-radius: 0px 3px 3px 0px;
      -webkit-border-radius: 0px 3px 3px 0px;
      border-radius: 0px 3px 3px 0px;
      border: 1px solid #d6d6d6;
      cursor: pointer; }
      .search-interior .filtered-search .filter-search .active {
        display: none; }
      .search-interior .filtered-search .filter-search .glyphicon-chevron-down {
        color: #1ebae1;
        font-size: 25px;
        line-height: 51px;
        padding-left: 10px; }
      .search-interior .filtered-search .filter-search .filter-default {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg); }
      .search-interior .filtered-search .filter-search .filter-active {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        padding-right: 12px; }
    .search-interior .filtered-search #filter-search-nav {
      position: absolute;
      display: none;
      background-color: #fff;
      border: 1px solid #fff;
      right: -1px;
      top: 50px;
      width: 190px;
      list-style-type: none !important;
      padding-left: 0; }
      .search-interior .filtered-search #filter-search-nav li {
        padding-left: 13px;
        height: 51px;
        line-height: 51px;
        border-bottom: 1px solid #d6d6d6;
        font-size: 16px; }
    .search-interior .filtered-search .submit-search {
      float: left;
      vertical-align: text-top;
      width: 51px;
      height: 51px;
      text-align: center;
      font-size: 40px;
      padding-top: 0;
      background-color: transparent;
      border: none;
      color: #fff;
      padding-left: 15px; }

/*******************************************
    USER TOOLS PORTAL PAGE
 *******************************************/
.help {
  position: absolute;
  background-color: #cfb067;
  width: 60px;
  height: 30px;
  top: 0;
  right: 40px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  display: none; }

.user-tools-header {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 40px;
  right: 5px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  font-size: 28px;
  z-index: 100; }
  .user-tools-header a {
    color: #fff; }
    .user-tools-header a:hover {
      opacity: .5; }

/*******************************************
    HEADER GRAPHICS PAGES
 *******************************************/
.front .home {
  height: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.corner-hero {
  position: absolute;
  bottom: -1px;
  right: 0;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  display: block;
  height: 175px;
  width: auto;
  color: #fff;
  display: none; }

.not-front .interior {
  background-position: left 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  padding-bottom: 20px; }

.corner-hero-interior {
  position: absolute;
  bottom: -1px;
  right: 0;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  display: block;
  height: 100px;
  width: auto;
  color: #fff;
  display: none; }

.home h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
  padding-top: 5px;
  display: block;
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #cfb067;
  margin-bottom: 0;
  padding-top: 17px;
  padding-left: 17px;
  border-top-left-radius: 10px; }

/*******************************************
    COLLECTIONS PORTAL PAGE
 *******************************************/
.collections {
  height: auto;
  background-color: #cfb067; }
  .collections .collection {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px; }
    .collections .collection h4 {
      font-size: 20px;
      padding-bottom: 0;
      color: #fff; }
    .collections .collection img {
      border-top-left-radius: 30px;
      border-left: 8px solid #e7d8b4; }
    .collections .collection p {
      padding-top: 15px;
      color: #fff;
      width: 90%; }
      .collections .collection p.wason a {
        font-size: 18px; }
        .collections .collection p.wason a span {
          font-size: 12px;
          padding-left: 4px;
          padding-right: 10px; }
      .collections .collection p a {
        font-size: 16px; }

#nav.collection .glyphicon-search {
  font-size: 22px;
  margin-top: -5px;
  display: inline-block; }

/*******************************************
    FEATURES PORTAL PAGE
 *******************************************/
.features {
  background-color: #fff;
  color: #2c3e50; }
  .features .feature {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    border-right: 1px solid #fff;
    border-bottom-right-radius: 30px;
    border: 1px solid #e5e5e6;
    border-top: none;
    border-left: none;
    padding-bottom: 20px; }
    .features .feature h5 {
      font-size: 26px;
      padding-bottom: 10px;
      color: #cfb067; }
    .features .feature img {
      border: 6px solid #d1dcde; }
    .features .feature p {
      padding-top: 18px;
      color: #535562;
      width: 90%;
      font-size: 18px; }
    .features .feature li {
      padding-top: 5px;
      font-size: 18px; }
  .features .feature:last-child {
    background: #fff url("../images/lotus.png") no-repeat bottom right; }

/*******************************************
    NEWS PORTAL PAGE
 *******************************************/
.news {
  background-color: #fff;
  color: #535562;
  margin-bottom: 0; }
  .news .new {
    padding-left: 40px;
    margin-top: 20px;
    border-right: 1px solid #fff;
    border-bottom-right-radius: 30px;
    border: 1px solid #e5e5e6;
    border-top: none;
    border-left: none;
    padding-bottom: 20px; }
    .news .new:last-child {
      border-bottom: none; }
    .news .new h6 {
      font-size: 26px;
      padding-bottom: 0;
      color: #cfb067; }
    .news .new date {
      display: block; }
    .news .new p {
      padding-top: 0;
      color: #535562;
      width: 90%;
      font-size: 18px; }
    .news .new li {
      padding-top: 18px;
      font-size: 18px; }
  .news .feature:last-child {
    background: #fff url("../images/lotus.png") no-repeat bottom right; }

/*******************************************
    FOOTER
 *******************************************/
.ac {
  position: relative;
  font-size: 18px;
  width: 100%;
  background-color: #f6f7f4;
  padding-bottom: 40px;
  margin-top: 20px; }
  .ac nav {
    width: 100%;
    padding-top: 70px;
    padding-left: 30px; }
    .ac nav ul {
      padding-left: 0; }
      .ac nav ul li {
        display: inline-block;
        font-size: 18px; }
        .ac nav ul li a {
          color: #535562; }
          .ac nav ul li a:hover {
            color: #999ea3; }
          .ac nav ul li a.active {
            color: #999ea3; }
  .ac .user-tools {
    position: absolute;
    top: 20px;
    left: 30px; }
    .ac .user-tools a {
      color: #474f57;
      font-size: 30px;
      padding-right: 5px; }
      .ac .user-tools a:hover {
        opacity: .5; }

.cul {
  position: relative;
  background-color: #fff;
  width: 100%;
  margin-top: -20px !important; }
  .cul .wrapper {
    width: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 40px; }
    .cul .wrapper a {
      color: #535562; }
      .cul .wrapper a:hover {
        color: #999ea3; }
  .cul nav {
    padding-top: 10px;
    padding-left: 0;
    padding-bottom: 8px; }
    .cul nav p {
      display: inline;
      color: #535562; }
    .cul nav ul {
      display: inline;
      padding-left: 0; }
      .cul nav ul li {
        display: inline;
        font-size: 14px; }
        .cul nav ul li a {
          color: #535562; }
  .cul .btn-give {
    background-color: #535562;
    color: #fff !important;
    padding: 8px 20px;
    position: absolute;
    top: 0;
    left: 30px;
    width: 200px; }

/*******************************************
    INTERIOR PAGES
 *******************************************/
.sub-section {
  background-color: #cfb067; }
  .sub-section h3 {
    width: 1300px;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    margin-bottom: 0;
    font-size: 32px; }

.page-content .content-item {
  color: #535562;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 30px;
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-image: url("../images/motif-2.svg");
  background-size: 60%;
  /*.breadcrumbs {
      font-size: 16px;
      padding-top: 20px;
      ul {
          padding-left: 0;
          li {
              display: inline-block;
              a {
                  color: $btn-link-text-inteior
              }
              a:hover {
                  color: $body-text;
              }
          }
      }
  }*/ }
  .page-content .content-item h4 {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 25px;
    color: #cfb067; }
  .page-content .content-item h5 {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 25px;
    color: #cfb067; }
  .page-content .content-item h6 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 25px;
    color: #cfb067; }
  .page-content .content-item p {
    font-size: 1.2em; }
  .page-content .content-item ul, .page-content .content-item ol {
    margin-top: 0; }
    .page-content .content-item ul li, .page-content .content-item ol li {
      margin-bottom: 3px; }
      .page-content .content-item ul li ul li:last-child, .page-content .content-item ol li ul li:last-child {
        margin-bottom: 20px; }
  .page-content .content-item dt {
    font-size: 20px; }
  .page-content .content-item dd {
    font-size: 1em;
    padding-left: 20px; }
  .page-content .content-item a {
    color: #cfb067; }
    .page-content .content-item a:hover {
      color: #cfb067; }
.page-content .side-nav {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #d2dcdd; }
  .page-content .side-nav h3 {
    font-size: 22px;
    color: #cfb067; }
  .page-content .side-nav a {
    font-size: 18px;
    color: #cfb067; }
    .page-content .side-nav a:hover {
      color: #cfb067; }

.asia-collection .ac {
  margin-top: 50px; }

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/*
 __                 _ _   _____      _     _      _       
/ _\_ __ ___   __ _| | | /__   \__ _| |__ | | ___| |_ ___ 
\ \| '_ ` _ \ / _` | | |   / /\/ _` | '_ \| |/ _ \ __/ __|
_\ \ | | | | | (_| | | |  / / | (_| | |_) | |  __/ |_\__ \
\__/_| |_| |_|\__,_|_|_|  \/   \__,_|_.__/|_|\___|\__|___/

*/
@media (min-width: 480px) {
  .front .home {
    height: 330px; }

  .search-home {
    position: absolute;
    top: 120px; }

  .asia-collection .search-home {
    top: 160px; } }
@media (min-width: 533px) {
  .corner-hero,
  .corner-hero-interior {
    display: block; } }
@media (min-width: 640px) {
  .help {
    display: block; }

  a.search-icon.show-hide-search {
    display: none; }

  a.show-hide-search {
    display: block; }

  .front .home h1, .front .home h2,
  .not-front .interior h1,
  .not-front .interior h2 {
    display: none; }
  .front .home .CUL-branding-mobile,
  .not-front .interior .CUL-branding-mobile {
    display: none; }
  .front .home .CUL-branding svg,
  .not-front .interior .CUL-branding svg {
    display: block; }

  .front .home {
    height: 540px; }

  .not-front .interior {
    height: 180px; }

  .search-home {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    height: 190px; }
    .search-home .filtered-search .search-homepage {
      width: 353px; }
    .search-home .filtered-search .filter-search {
      width: 190px;
      text-align: left; }
      .search-home .filtered-search .filter-search .active {
        display: inline;
        padding-left: 10px;
        line-height: 51px;
        vertical-align: top;
        padding-right: 0; }
      .search-home .filtered-search .filter-search .glyphicon-chevron-down {
        padding-right: 10px; }
    .search-home .filtered-search #filter-search-nav {
      display: none;
      width: 190px;
      text-align: left; }
      .search-home .filtered-search #filter-search-nav li a {
        color: #cfb067; }

  .search-interior label {
    padding-bottom: 10px; }
  .search-interior .filtered-search {
    text-align: right; }
    .search-interior .filtered-search .search-homepage {
      width: 353px; }
    .search-interior .filtered-search .filter-search {
      width: 190px;
      text-align: left; }
      .search-interior .filtered-search .filter-search .active {
        display: inline;
        padding-left: 10px;
        line-height: 51px;
        vertical-align: top;
        padding-right: 0; }

  .collection .img-responsive,
  .feature .img-responsive {
    width: 80%; }

  #nav {
    padding-left: 30px; }

  .search-home {
    padding-left: 40px; }

  .asia-collection .search-home {
    top: 240px; } }
/*
 _____      _     _      _       
/__   \__ _| |__ | | ___| |_ ___ 
  / /\/ _` | '_ \| |/ _ \ __/ __|
 / / | (_| | |_) | |  __/ |_\__ \
 \/   \__,_|_.__/|_|\___|\__|___/
                                 
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .collections .collection {
    border-bottom: none; }

  .collection .img-responsive,
  .feature .img-responsive {
    width: 100%; }

  #nav {
    top: 0;
    padding-left: 170px; }

  .search-home {
    top: 220px;
    padding-left: 180px; }

  .btn-link {
    display: inline-block;
    float: left; }

  .text-link {
    display: inline-block;
    clear: both;
    float: left;
    padding-left: 0; }

  .features,
  .news {
    display: flex; }

  .feature,
  .new {
    flex: 1; }

  .news .new {
    padding-top: 45px; }
    .news .new:last-child {
      border-bottom: 1px solid #e5e5e6; }
    .news .new:first-child {
      padding-top: 0; }

  #nav.collection {
    padding-left: 97px; }

  .asia-collection .search-home {
    padding-left: 110px; }

  .asia-collection .search-home {
    top: 200px; }

  .not-front .interior {
    background-position: left -200px; } }
/*  
    ___          _    _              
   /   \___  ___| | _| |_ ___  _ __  
  / /\ / _ \/ __| |/ / __/ _ \| '_ \ 
 / /_//  __/\__ \   <| || (_) | |_) |
/___,' \___||___/_|\_\__\___/| .__/ 
                              |_|    
 */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .collection .img-responsive,
  .feature .img-responsive {
    width: auto; }

  .page-content .side-nav {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    border-top: none;
    border-left: 1px solid #d2dcdd; }

  .btn-link {
    display: inline-block;
    float: none; }

  .text-link {
    display: inline-block;
    float: none; }

  .page-content .content-item .breadcrumbs {
    font-size: 18px; }
  .page-content .content-item h3 {
    font-size: 42px; }
  .page-content .content-item p {
    font-size: 20px; }
  .page-content .side-nav {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    border-top: none;
    border-left: 1px solid #d2dcdd; }
    .page-content .side-nav h3 {
      font-size: 24px; }
    .page-content .side-nav a {
      font-size: 20px; }

  .cul {
    position: relative; }
    .cul .btn-give {
      left: auto;
      left: initial;
      top: 0;
      right: 20px; } }
@media (min-width: 1100px) {
  .text-link {
    padding-left: 20px; }

  .ac {
    position: relative; }
    .ac nav {
      padding-top: 30px; }
    .ac .user-tools {
      width: 133px;
      left: auto;
      left: initial;
      right: 20px;
      top: 20px;
      text-align: right; } }
/*
   __                           ___          _    _              
  / /  __ _ _ __ __ _  ___     /   \___  ___| | _| |_ ___  _ __  
 / /  / _` | '__/ _` |/ _ \   / /\ / _ \/ __| |/ / __/ _ \| '_ \ 
/ /__| (_| | | | (_| |  __/  / /_//  __/\__ \   <| || (_) | |_) |
\____/\__,_|_|  \__, |\___| /___,' \___||___/_|\_\__\___/| .__/ 
                |___/                                     |_|    
*/
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1440px) {
  .features,
  .news {
    width: 1300px;
    margin: 40px auto; }

  .collections .collection img {
    width: 140%; }

  .page-content {
    width: 1300px;
    margin: 0 auto;
    margin-top: 10px; }

  .ac .wrapper {
    width: 1300px;
    margin: 0 auto;
    position: relative; }
  .ac nav {
    width: 1300px;
    margin: 0 auto; }
  .ac address {
    width: 1300px;
    margin: 0 auto; }

  .cul .wrapper {
    width: 1300px;
    margin: 0 auto;
    position: relative; }
  .cul .btn-give {
    position: absolute;
    top: 0;
    left: auto;
    left: initial;
    right: 20px; } }

/*# sourceMappingURL=south-asia-collection.css.map */
